body{
    background-color: #F0EBFF;
    margin-bottom: 20px;
}

.navbar{
    background-color: #2F1C4F;
}

h1{
    text-align: center;
    color: #400147;
    padding: 3vh;
}

.btnprimary {
    background-color: #2F1C4F;
    color: white
}

.btnprimary:hover {
    background-color: #400147;
    color: white
}